@using DemoBlogWeb.ViewModels
@model QuestionAndTagModel

@{
    ViewData["Title"] = "Home Page";
}

<partial name = "_Notification" />
<div class = "container p-3 ">
    <div class = "row p-4 ">
        <div class = "col-6">
            <h2 class = "text-primary">Questions</h2>
        </div>
        <div class = "col-6 text-end">
                <form class="d-flex" asp-controller= "Home" asp-action = "FilterByTag" >
                <input class="form-control me-sm-2" asp-for="@Model.QuestionTag.Name" placeholder="Search by Tag">
                <input type = "submit"  class= "btn btn-secondary my-2 my-sm-0 col-xs-2"value="Search" />
                </form>
        </div>
    </div>

    <br />
    <div class = "text-end mb-3">
        <a asp-controller = "Home" asp-action="CreateQuestion" class = "btn btn-primary ">
                <i class="bi bi-plus-circle"></i> &nbsp; Ask Question
            </a>
            
    </div>
    <div>
        @foreach(var obj in @Model.QuestionList)
        {
            <div class = "container">
                <div>
                     <span class = "text-success border border-success p-1">@obj.Answers.Count answers</span>
                         <a  asp-controller="Home" asp-action="Question" asp-route-id="@obj.Id">@obj.Title</a>
                         <div class = "text-end">
                             <span>Tag:</span> <span class = "text-info">@obj.QuestionTag.Name</span>
                         </div>
                </div>
                <br>
            </div>
            <hr class = "border border-success"/>
        }
    </div>
</div>
