@using DemoBlogWeb.ViewModels
@model ViewModel

@{
    ViewData["Title"] = "Question";
}

<div class = "container mt-5">
    <div>
        <h1>@Model.Question.Title</h1>
        <br />
        <span class="text-info">Asked time: </span><span>@Model.Question.AskedTime</span>
        <span class="text-info">Tags:</span> <span>@Model.Question.QuestionTag.Name</span>
       
    </div>
    <div>
        <hr />
        <div class = "p-3 m-3">
            @Model.Question.QuestionBody
        </div>
        <hr />
        <div class = "container m-3">
            <span class = "text-info text-left">@Model.Question.Answers.Count Answers</span>
            <div class = "p-3 m-3 ">
                @if(@Model.Question.Answers != null)
                {
                    @foreach(Answer obj in @Model.Question.Answers)
                {
                    <div class = "container">
                        <div class = "p-2 m-2">
                            @obj.AnswerBody
                        </div>
                        <div class = "text-end">
                           <span class = "text-info">Answered at: </span><span>@obj.AnswerTime </span>
                        </div>
                    </div>
                    <hr />
                }
                }
                
                
            </div>
            <div class = "container">
            <h5>Your Answer</h5>
            <div>
                <form method = "post" asp-action = "CreateAnswer">
                     <div class = "form-group">
                        <input asp-for ="@Model.Question.Id" hidden class = "form-control" />
                    </div>
                     <div class = "form-group">
                        <textarea rows="10" asp-for="@Model.Answer.AnswerBody" class = "form-control"></textarea>
                        <span asp-validation-for="@Model.Answer.AnswerBody" disabled class = "text-danger"></span>
                    </div>
                    <input type = "submit" class= "btn btn-primary "value="Post Your Answer" />
                <a asp-controller = "Home" asp-action="Index" class = "btn btn-secondary">
                Back
            </a>
                </form>
            </div>
            <div>

        </div>
        
    </div>
</div>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}