@model Question;

@{
    ViewData["Title"] = "Question";
}

<div class = "container mt-5">
    <div>
        <h1>@Model.Title</h1>
        <br />
        <span class="text-info">Asked time: </span><span>@Model.AskedTime</span>
    </div>
    <div>
        <hr />
        <div class = "p-3 m-3">
            @Model.QuestionBody
        </div>
        <hr />
        <div class = "container m-3">
            <span class = "text-success">@Model.Answers.Count</span>
            <span class = "text-success">Answers</span>
            <div class = "p-3 m-3 bg-success">
                @if(Model.Answers != null)
                {
                    @foreach(Answer obj in Model.Answers)
                {
                    <div>
                        @obj.AnswerBody
                    </div>
                }
                }
                
            </div>

        @*</div>
        <div class = "container">
            <h5>Your Answer</h5>
            <div>
                <form method = "post">
                     <div class = "form-group">
                        <label asp-for=""></label>
                        <textarea rows="10" asp-for="QuestionBody" class = "form-control"></textarea>
                        <span asp-validation-for="QuestionBody" class = "text-danger"></span>
                    </div>
                </form>
            </div>
            <div>
           <a asp-controller = "Home" asp-action="CreateQuestion" class = "btn btn-primary ">
                Post The Answer
            </a>
        </div>
        </div>*@
        
    </div>
</div>

